* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 8px 16px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}
.header-links ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

/* HERO */

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 128px 16px;
    gap: 32px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero-text-copy {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-placeholder {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    color: #1f2937;
}

.hero-button {
    margin-top: auto;
}

.hero-signup-button {
    padding: 8px 32px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* CARDS */

.cards {
    padding: 32px 16px;
    margin-bottom: 96px;
}

.cards-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.card {
    padding: 8px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.card-copy {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

/* QUOTE */

.quote {
    background-color: #e5e7eb;
    padding: 128px 16px;
}

.quote-content {
    font-size: 36px;
    font-style: italic;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 16px;
}

.quote-signature {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    text-align: right;
    margin-right: 10%;
}

/* CTA */

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 32px 16px;
}

.cta-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15%;
    height: 50%;
    width: 100%;
    background-color: #3882f6;
    border-radius: 10px;
}

.cta-copy-title {
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 0;
}

.cta-copy-text {
    margin-top: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.cta-signup-button {
    font-size: 18px;
    color: #f9faf8;
    padding: 8px 32px;
    background: none;
    border: 2px solid #f9faf8;
    border-radius: 10px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    color: #f9faf8;
}

.footer a {
    color: #f9faf8;
    margin-left: 5px;
    margin-right: 5px;
}